<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="static/img/Logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% for datas in datas %}
  <title>หนังสือยืมอุปกรณ์ IT ของ {{datas.1}} </title>
  {% endfor %}

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

  <link href="static/sb/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mali&display=swap" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="static/sb/css/sb-admin-2.min.css" rel="stylesheet">
  <style media="screen">
    body {
      display: block;
    }

    .input-goods {
      margin-top: 2rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <center>
      <img width="15%" src="static/img/Logo CES-IT.png" alt="" style="">
    </center>
    <h2 style="text-align:center;margin-top:2rem;color:black"><b>หนังสือ ยืม-คืน อุปกรณ์ IT</b></h2>
    <hr>

    <div class="input-goods">
      <form class="row g-3">
        <div class="col-md-12" style="margin-top:2rem">
          {% for datas in datas %}
          <p style="font-size:1.5rem;text-align:justify;text-indent:3rem;color:black">ข้าพเจ้า <u>{{datas.1}}</u> แผนก <u>{{datas.2}}</u> ได้ทำการยืมอุปกรณ์ของทางบริษัท ซีอีเอส เอ็นจิเนียริ่ง แอนด์ เมนเทนแนนซ์ จำกัด
            ไว้และหากเกิดการชำรุดเสียหายที่ไม่ใช่เกิดจากการใช้งานปกติเช่น ตก กระแทก โดนน้ำ เป็นต้น หลังจากวันที่ลงลายมือในเอกสารฉบับนี้ ข้าพเจ้าจะเป็นผู้รับผิดชอบและชดใช้ค่าเสียหายทุกประการ</p>
        </div>
        <br><br>
        <div class="col-md-12" style="text-align: center;margin-top:3rem">
          <h3><b style="color:black">ข้อมูลอุปกรณ์</b></h3>
        </div>
        <div class="col-md-12" style="text-align: center;margin-top:2rem">
          <div class="table-responsive">
            <table class="table table-bordered" style="width:100%;height:auto;color:black">
              <tr>
                <td colspan="2">รายการ</td>
                <td rowspan="2">รหัสตัวเครื่อง</td>
                <td rowspan="2">เลขทะเบียน IT</td>
              </tr>
              <tr>
                <td>อุปกรณ์</td>
                <td>ยี่ห้อ/รุ่น</td>
              </tr>

              <tbody>

                <tr>
                  <td height="50">{{datas.3}}</td>
                  <td>{{datas.4}}</td>
                  <td>{{datas.5}}</td>
                  <td>{{datas.6}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mb-12" style="margin-top:3rem">
          <label for="exampleFormControlTextarea1" class="form-label" style="color:black">หมายเหตุเพื่มเติม</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="127" name="note" style="background:none;color:black" readonly>{{datas.7}}</textarea>
        </div>

        <div class="col-md-12" style="text-align: center;margin-top:4rem">
          <div class="table-responsive">
            <table class="table table-bordered" style="width:100%;height:auto;color:black">
              <tr>
                <td>ลายมือผู้ยืม</td>
                <td>เจ้าหน้าที่ทำรายการ</td>
                <td>วันที่ทำรายการ</td>
                <tbody>
                  <tr>
                    <td width="350" height="60">
                      <img src="{{datas.14}}" alt="" height="50">
                    </td>
                    <td width="350">{{datas.8}}</td>
                    <td>{{datas.9}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12" style="text-align: center;margin-top:4rem">
          <div class="table-responsive">
            <table class="table table-bordered" style="width:100%;height:auto;color:black">
              <tr>
                <td>ลายมือผู้คืน</td>
                <td>เจ้าหน้าที่ทำรายการ</td>
                <td>วันที่ทำรายการ</td>
                <tbody>
                  <tr>
                    <td width="350" height=60>
                      <img src="{{datas.15}}" alt="" height="50" >
                    </td>
                    <td width="350">{{datas.13}}</td>
                    <td>{{datas.10}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </form>
      {% endfor %}
    </div>
    <br>

    <footer class="main-footer" style="margin-top:5%">
      <div class="footer">
        <div class="text-footer" style="display:flex;justify-content:space-between;color:black">
          <h6>CES-IT-F-002 Rev.02 </h6>
          <h6>Effective Date.28 March 2022</h6>
        </div>
      </div>

    </footer>

    <br>
  </div>
  <script src="static/plugins/jquery/jquery.min.js"></script>
  <script src="static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="static/dist/js/adminlte.min.js"></script>
  <script src="static/dist/js/demo.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!--โชว์รูป-->
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#blah')
            .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  <!--end-->

</body>

</html>
