{% extends 'main/maindashboard.html' %}


{% block content %}

<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h3 class="page-title">Dashboard ทรัพย์สิน IT</h3>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <div class="d-md-flex">
          <ol class="breadcrumb ms-auto">
            <li></li>
          </ol>
          <a href="/propertyregister" class="btn btn-info  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">รายการทรัพย์สิน</a>
          <a href="/borrowlist" class="btn btn-success d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">เบิก-ยืม</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" style="background-color: white;padding:10px 0 10px 0">
      <div class="col-md-8">
        <canvas id="myChart" width="100" height="100%"></canvas>
      </div>
      <div class="col-md-4">
        <table class="table table-bordered">
          <thead>
            <tr style="text-align:center">
              <th scope="col">ประเภท</th>
              <th scope="col">ทั้งหมด</th>
              <th scope="col">ดี</th>
              <th scope="col">รอซ่อม</th>
              <th scope="col">เสีย/จำหน่าย</th>
            </tr>
          </thead>
          <tbody style="text-align: center">
            <tr >
              <td>Notebook</td>
              <td>{{Notebook}}</td>
              <td>{{gnotebook}}</td>
              <td>{{wnotebook}}</td>
              <td>{{dnotebook}}</td>
            </tr>
            <tr>
              <td>Computer PC</td>
              <td>{{ComputerPC}}</td>
              <td>{{gComputerPC}}</td>
              <td>{{wComputerPC}}</td>
              <td>{{dComputerPC}}</td>
            </tr>
            <tr>
              <td>Monitor</td>
              <td>{{Monitor}}</td>
              <td>{{gMonitor}}</td>
              <td>{{wMonitor}}</td>
              <td>{{dMonitor}}</td>
            </tr>
            <tr>
              <td>Printer</td>
              <td>{{Printer}}</td>
              <td>{{gPrinter}}</td>
              <td>{{wPrinter}}</td>
              <td>{{dPrinter}}</td>
            </tr>
            <tr>
              <td>Server PC</td>
              <td>{{ServerPC}}</td>
              <td>{{gServerPC}}</td>
              <td>{{wServerPC}}</td>
              <td>{{dServerPC}}</td>
            </tr>
            <tr>
              <td>Projector</td>
              <td>{{Projector}}</td>
              <td>{{gProjector}}</td>
              <td>{{wProjector}}</td>
              <td>{{dProjector}}</td>
            </tr>
            <tr>
              <td>WalkieTalkie</td>
              <td>{{WalkieTalkie}}</td>
              <td>{{gWalkieTalkie}}</td>
              <td>{{wWalkieTalkie}}</td>
              <td>{{dWalkieTalkie}}</td>
            </tr>
            <tr>
              <td>TV</td>
              <td>{{TV}}</td>
              <td>{{gTV}}</td>
              <td>{{wTV}}</td>
              <td>{{dTV}}</td>
            </tr>
            <tr>
              <td>Telephone</td>
              <td>{{Telephone}}</td>
              <td>{{gTelephone}}</td>
              <td>{{wTelephone}}</td>
              <td>{{dTelephone}}</td>
            </tr>
            <tr>
              <td>Camera</td>
              <td>{{Camera}}</td>
              <td>{{gCamera}}</td>
              <td>{{wCamera}}</td>
              <td>{{dCamera}}</td>
            </tr>
            <tr>
              <td>Accessory</td>
              <td>{{Accessory}}</td>
              <td>{{gAccessory}}</td>
              <td>{{wAccessory}}</td>
              <td>{{dAccessory}}</td>
            </tr>
            <tr>
              <td>CCTV</td>
              <td>{{CCTV}}</td>
              <td>{{gCCTV}}</td>
              <td>{{wCCTV}}</td>
              <td>{{dCCTV}}</td>
            </tr>
            <tr>
              <td>Network</td>
              <td>{{Network}}</td>
              <td>{{gNetwork}}</td>
              <td>{{wNetwork}}</td>
              <td>{{dNetwork}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="col-md-12">
        <table id="tabledepgoods" class="table table-bordered table-striped">
          <thead>
            <tr style="background:#60a3bc">
              <th scope="col">แผนก</th>
              <th scope="col">Notebook</th>
              <th scope="col">Computer PC</th>
              <th scope="col">Monitor</th>
              <th scope="col">Printer</th>
              <th scope="col">WalkieTalkie</th>
              <th scope="col">TV</th>
              <th scope="col">Telephone</th>
              <th scope="col">Camera</th>
              <th scope="col">Accessory</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>QA/QC</td>
              <td>{{qaqcNotebook}}</td>
              <td>{{qaqcComputerPC}}</td>
              <td>{{qaqcMonitor}}</td>
              <td>{{qaqcPrinter}}</td>
              <td>{{qaqcWalkieTalkie}}</td>
              <td>{{qaqcTV}}</td>
              <td>{{qaqcTelephone}}</td>
              <td>{{qaqcCamera}}</td>
              <td>{{qaqcAccessory}}</td>
            </tr>
            <tr>
              <td>Engineering</td>
              <td>{{EngineeringNotebook}}</td>
              <td>{{EngineeringComputerPC}}</td>
              <td>{{EngineeringMonitor}}</td>
              <td>{{EngineeringPrinter}}</td>
              <td>{{EngineeringWalkieTalkie}}</td>
              <td>{{EngineeringTV}}</td>
              <td>{{EngineeringTelephone}}</td>
              <td>{{qaqcCamera}}</td>
              <td>{{EngineeringAccessory}}</td>
            </tr>
            <tr>
              <td>Business Development</td>
              <td>{{bdNotebook}}</td>
              <td>{{bdComputerPC}}</td>
              <td>{{bdMonitor}}</td>
              <td>{{bdPrinter}}</td>
              <td>{{bdWalkieTalkie}}</td>
              <td>{{bdTV}}</td>
              <td>{{bdTelephone}}</td>
              <td>{{bdCamera}}</td>
              <td>{{bdAccessory}}</td>
            </tr>
            <tr>
              <td>Finance</td>
              <td>{{FinanceNotebook}}</td>
              <td>{{FinanceComputerPC}}</td>
              <td>{{FinanceMonitor}}</td>
              <td>{{FinancePrinter}}</td>
              <td>{{FinanceWalkieTalkie}}</td>
              <td>{{FinanceTV}}</td>
              <td>{{FinanceTelephone}}</td>
              <td>{{FinanceCamera}}</td>
              <td>{{FinanceAccessory}}</td>
            </tr>
            <tr>
              <td>Grounp manager</td>
              <td>{{gmNotebook}}</td>
              <td>{{gmComputerPC}}</td>
              <td>{{gmMonitor}}</td>
              <td>{{gmPrinter}}</td>
              <td>{{gmWalkieTalkie}}</td>
              <td>{{gmTV}}</td>
              <td>{{gmTelephone}}</td>
              <td>{{gmCamera}}</td>
              <td>{{gmAccessory}}</td>
            </tr>
            <tr>
              <td>Human Resources</td>
              <td>{{hrNotebook}}</td>
              <td>{{hrComputerPC}}</td>
              <td>{{hrMonitor}}</td>
              <td>{{hrPrinter}}</td>
              <td>{{hrWalkieTalkie}}</td>
              <td>{{hrTV}}</td>
              <td>{{hrTelephone}}</td>
              <td>{{hrCamera}}</td>
              <td>{{hrAccessory}}</td>
            </tr>
            <tr>
              <td>HSE</td>
              <td>{{HSENotebook}}</td>
              <td>{{HSEComputerPC}}</td>
              <td>{{HSEMonitor}}</td>
              <td>{{HSEPrinter}}</td>
              <td>{{HSEWalkieTalkie}}</td>
              <td>{{HSETV}}</td>
              <td>{{HSETelephone}}</td>
              <td>{{HSECamera}}</td>
              <td>{{HSEAccessory}}</td>
            </tr>
            <tr>
              <td>Scaffolding&painting</td>
              <td>{{sfpNotebook}}</td>
              <td>{{sfpComputerPC}}</td>
              <td>{{sfpMonitor}}</td>
              <td>{{sfpPrinter}}</td>
              <td>{{sfpWalkieTalkie}}</td>
              <td>{{sfpTV}}</td>
              <td>{{sfpTelephone}}</td>
              <td>{{sfpCamera}}</td>
              <td>{{sfpAccessory}}</td>
            </tr>
            <tr>
              <td>MSR</td>
              <td>{{MSRNotebook}}</td>
              <td>{{MSRComputerPC}}</td>
              <td>{{MSRMonitor}}</td>
              <td>{{MSRPrinter}}</td>
              <td>{{MSRWalkieTalkie}}</td>
              <td>{{MSRTV}}</td>
              <td>{{MSRTelephone}}</td>
              <td>{{MSRCamera}}</td>
              <td>{{MSRAccessory}}</td>
            </tr>
            <tr>
              <td>Febrication</td>
              <td>{{fbNotebook}}</td>
              <td>{{fbComputerPC}}</td>
              <td>{{fbMonitor}}</td>
              <td>{{fbPrinter}}</td>
              <td>{{fbWalkieTalkie}}</td>
              <td>{{fbTV}}</td>
              <td>{{fbTelephone}}</td>
              <td>{{fbCamera}}</td>
              <td>{{fbAccessory}}</td>
            </tr>
            <tr>
              <td>Logistic</td>
              <td>{{ltNotebook}}</td>
              <td>{{ltComputerPC}}</td>
              <td>{{ltMonitor}}</td>
              <td>{{ltPrinter}}</td>
              <td>{{ltWalkieTalkie}}</td>
              <td>{{ltTV}}</td>
              <td>{{ltTelephone}}</td>
              <td>{{ltCamera}}</td>
              <td>{{ltAccessory}}</td>
            </tr>
            <tr>
              <td>Manintenance</td>
              <td>{{meNotebook}}</td>
              <td>{{meComputerPC}}</td>
              <td>{{meMonitor}}</td>
              <td>{{mePrinter}}</td>
              <td>{{meWalkieTalkie}}</td>
              <td>{{meTV}}</td>
              <td>{{meTelephone}}</td>
              <td>{{meCamera}}</td>
              <td>{{meAccessory}}</td>
            </tr>
            <tr>
              <td>CES-BKK</td>
              <td>{{bkkNotebook}}</td>
              <td>{{bkkComputerPC}}</td>
              <td>{{bkkMonitor}}</td>
              <td>{{bkkPrinter}}</td>
              <td>{{bkkWalkieTalkie}}</td>
              <td>{{bkkTV}}</td>
              <td>{{bkkTelephone}}</td>
              <td>{{bkkCamera}}</td>
              <td>{{bkkAccessory}}</td>
            </tr>
            <tr>
              <td>IT Support</td>
              <td>{{itNotebook}}</td>
              <td>{{itComputerPC}}</td>
              <td>{{itMonitor}}</td>
              <td>{{itPrinter}}</td>
              <td>{{itWalkieTalkie}}</td>
              <td>{{itTV}}</td>
              <td>{{itTelephone}}</td>
              <td>{{itCamera}}</td>
              <td>{{itAccessory}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>





{% endblock %}
