{% extends 'main/mainmenu.html' %}

{% block content %}
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
  <div class="row align-items-center px-3">
    <div class="col-lg-6 text-center text-lg-left">
      <h4 class="text-white mb-4 mt-5 mt-lg-0">IT Support Department</h4>
      <h1 class="display-3 font-weight-bold text-white"></h1>
      <p class="text-white mb-4">เทคโนโลยีปัจจุบัน ทำให้งานยากๆ ง่ายขึ้นหลายเท่าตัว แค่เรารู้จักใช้มัน</p>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-5" src="static/img/header.png" alt="">
    </div>
  </div>
</div> <!-- Header Start -->

<!-- Facilities Start -->
<div class="container-fluid pt-5">
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 pb-1 jsef">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
          <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-4" style="height:120px">
            <a href="#">
              <h4>IT Tips</h4>
            </a>
            <p class="m-0 cut-text-multi">ทิปส์ หรือ เทคนิคไอที เคล็ดลับดีๆ ในการใช้คอมพิวเตอร์หรืออุปกรณ์ต่างๆ</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1 jsef">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
          <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-4" style="height:120px">
            <a href="#">
              <h4>Music and Dance</h4>
            </a>
            <p class="m-0"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1 jsef">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
          <i class="flaticon-030-crayons h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-4" style="height:120px">
            <a href="#">
              <h4>Arts and Crafts</h4>
            </a>
            <p class="m-0"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Facilities Start -->


<!-- Class Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5"><span class="px-2">it support department</span></p>
      <h1 class="mb-4">IT New</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 imgh" src="static/imglanding/363636.jpg" alt="">
          <div class="card-body text-center">
            <h6 class="card-title" style="font-size:1.22rem">ยกเลิกแล้ว Facebook หยุดเก็บข้อมูล</h6>
            <p class="card-text cut-text-multi">Facebook ทยอยส่งข้อความอย่างเป็นทางการแจ้งผู้ใช้งานว่าจะหยุดให้บริการฟีเจอร์ Nearby Friends และ Weather Alerts </p>
          </div>
          <a href="/0001" class="btn btn-primary px-4 mx-auto mb-4">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 imgh" src="static/imglanding/0002/20474_220509175518QH.jpg" alt="">
          <div class="card-body text-center">
            <h5 class="card-title">การโจมตีแบบใหม่ของมัลแวร์</h5>
            <p class="card-text cut-text-multi">Denis Legezo นักวิจัยด้านความปลอดภัยจากบริษัท Kaspersky ได้เผยแพร่งานวิจัยการค้นพบวิธีการโจมตีของแฮกเกอร์แบบใหม่ที่ไม่เคยถูกพบเจอมาก่อน โดยเป็นมัลแวร์แบบไร้ไฟล์ (Fileless) ที่ซ่อนตัวอยู่ในไฟล์ Windows
              event logs อยู่ในรูปแบบของ Shellcode คาดว่าการโจมตีได้เริ่มต้นขึ้นตั้งแต่ช่วงเดือนกันยายน ปี ค.ศ. 2022 (พ.ศ. 2565)</p>
          </div>
          <a href="/0002" class="btn btn-primary px-4 mx-auto mb-4">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 imgh" src="static/imglanding/0003/20473_22050700042508.jpg" alt="">
          <div class="card-body text-center">
            <h5 class="card-title">Google เตรียมเพิ่มฟีเจอร์ป้องกัน </h5>
            <p class="card-text cut-text-multi">ก่อนที่เราจะได้ใช้งาน Android 13 กันในช่วงเดือนกันยายนปีนี้ ล่าสุดก็ได้มีคนพบเห็นว่า Google ก็เพิ่มฟีเจอร์ตัวช่วย “ยกระดับความปลอดภัย” การใช้งานสมาร์ทโฟนของเราจากไวรัสและ Malware ต่าง ๆ เข้ามาบน Android
              13 (เวอร์ชัน Beta)</p>
          </div>
          <a href="/0003" class="btn btn-primary px-4 mx-auto mb-4">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 imgh" src="static/imglanding/0004/20477_22051214595872.jpg" alt="">
          <div class="card-body text-center">
            <h5 class="card-title">พบมัลแวร์ FluBot ผ่าน SMS</h5>
            <p class="card-text cut-text-multi">พบมัลแวร์ FluBot ผ่านการส่งข้อความ SMS ไปยังผู้ใช้มือถือแอนดรอยด์ในฟินแลนด์ นอกจากภัยแก๊งคอลเซ็นเตอร์ ข้อความสั้น (SMS) จากเว็บพนันออนไลน์ทั้งหลายในไทยแล้ว ประเทศอื่น ๆ</p>
          </div>
          <a href="/0004" class="btn btn-primary px-4 mx-auto mb-4">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 imgh" src="static/imglanding/0005/20466_22042718074069.jpg" alt="">
          <div class="card-body text-center">
            <h6 class="card-title">กลลวง "สแกมเมอร์" หลอกรีเซ็ต Apple ID</h6>
            <p class="card-text cut-text-multi">เป็นภัยร้ายจาก "สแกมเมอร์" ที่อยากเตือนผู้ใช้งาน Apple ที่ครอบครองสินทรัพย์ดิจิทัลทุกคน แม้ว่าข่าวนี้จะเกิดมาได้อาทิตย์กว่า ๆ แล้ว แต่คนที่ไม่รู้ก็อาจเป็นเหยื่อได้อีกเช่นกัน </p>
          </div>
          <a href="/0005" class="btn btn-primary px-4 mx-auto mb-4">Read more</a>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 imgh" src="static/imglanding/0006/1.jpg" alt="">
          <div class="card-body text-center">
            <h6 class="card-title">Apple ปล่อยอัปเดต Firmware</h6>
            <p class="card-text cut-text-multi">Apple ได้ปล่อยอัปเดต Firmware สำหรับหูฟังของตัวเองอย่าง AirPods ตั้งแต่ AirPods 2, AirPods Max และ AirPods Pro อย่างพร้อมเพรียงกันโดยประกอบ โดยทั้งหมดจะได้เลข Firmware รหัส 4E71</p>
          </div>
          <a href="/0006" class="btn btn-primary px-4 mx-auto mb-4">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Class End -->



<!-- Testimonial Start-->
<div class="container-fluid py-5">
  <div class="container p-0">
    <div class="text-center pb-2">
      <p class="section-title px-5"><span class="px-2">Get started</span></p>
      <h1 class="mb-4">การใช้งานระบบ E-Service</h1>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="testimonial-item px-3">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="static/img/settings-6380866_1280.png" style="width: 100%;">
        </div>
      </div>
      <div class="testimonial-item px-3">
        <div class="d-flex align-items-center" style="justify-content: center">
          <a href="/howto">
          <img class="rounded-circle" src="static/img/2323.jpg" style="width: 100%;">
          </a>
        </div>
      </div>
      <div class="testimonial-item px-3">
        <div class="d-flex align-items-center">
          <img class="rounded-circle" src="static/img/212121.jpg" style="width: 100%;">
          <div class="pl-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Testimonial End -->


<!-- Blog Start
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5"><span class="px-2">Latest Blog</span></p>
      <h1 class="mb-4">Latest Articles From Blog</h1>
    </div>
    <div class="row pb-3">
      <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow-sm mb-2">
          <img class="card-img-top mb-2" src="img/blog-1.jpg" alt="">
          <div class="card-body bg-light text-center p-4">
            <h4 class="">Diam amet eos at no eos</h4>
            <div class="d-flex justify-content-center mb-3">
              <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
              <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
              <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
            </div>
            <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
            <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow-sm mb-2">
          <img class="card-img-top mb-2" src="img/blog-2.jpg" alt="">
          <div class="card-body bg-light text-center p-4">
            <h4 class="">Diam amet eos at no eos</h4>
            <div class="d-flex justify-content-center mb-3">
              <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
              <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
              <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
            </div>
            <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
            <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card border-0 shadow-sm mb-2">
          <img class="card-img-top mb-2" src="img/blog-3.jpg" alt="">
          <div class="card-body bg-light text-center p-4">
            <h4 class="">Diam amet eos at no eos</h4>
            <div class="d-flex justify-content-center mb-3">
              <small class="mr-3"><i class="fa fa-user text-primary"></i> Admin</small>
              <small class="mr-3"><i class="fa fa-folder text-primary"></i> Web Design</small>
              <small class="mr-3"><i class="fa fa-comments text-primary"></i> 15</small>
            </div>
            <p>Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet stet...</p>
            <a href="" class="btn btn-primary px-4 mx-auto my-2">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
Blog End -->
<!-- Team Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5"><span class="px-2">Our Staff</span></p>
      <h1 class="mb-4">Meet Our Staff</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 text-center team mb-5">
        <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
          <img class="img-fluid w-20" src="static/img/kissada-l.png" alt="">
          <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" title="061-949-8688"><i class="fa fa-phone"></i></a>
            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.facebook.com/profile.php?id=100006387484445" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" title="itsupport@cesteam.co.th"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>Kissada Limchoo</h4>
        <i>IT Support</i>
      </div>
      <div class="col-md-6 col-lg-6 text-center team mb-5">
        <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
          <img class="img-fluid w-20" src="static/img/kachondej-p.png" alt="">
          <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" title="089-598-2789"><i class="fa fa-phone"></i></a>
            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;" href="https://www.facebook.com/g.u.joe123" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;" title="itsupport1@cesteam.co.th"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>Kachondej Pana-ampon</h4>
        <i>IT Support</i>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->



{% endblock %}
