{% extends 'main/mainlanding.html' %}

{% block content %}

<style>
  .card {
    margin-top: 10%;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
    box-shadow: 0 30px 50px rgba(0, 0, 0, .2)
  }

  .card p {
    font-size: 1.3rem;
  }

  .card-img img {
    width: 100%;
    margin-bottom: 5%
  }

  @media screen and (max-width:992px) {
    .card {
      margin-top: 20%;
    }

  }

  @media screen and (max-width:769px) {
    .card {
      margin-top: 27% !important;
    }
  }

  @media screen and (max-width:520px) {
    .card {
      margin-top: 30% !important;
    }
  }

  @media screen and (max-width:480px) {
    .card {
      margin-top: 35% !important;
    }
  }
</style>

<div class="card">
  <div class="card-body">
    <div class="card-img">
      <img src="static/imglanding/0004/20477_22051214595872.jpg">
    </div>

    <div class="card-title">
      <h2>พบมัลแวร์ FluBot ผ่านการส่งข้อความ SMS ไปยังผู้ใช้มือถือแอนดรอยด์ในฟินแลนด์</h2>
    </div>
    <p>
      นอกจากภัยแก๊งคอลเซ็นเตอร์ ข้อความสั้น (SMS) จากเว็บพนันออนไลน์ทั้งหลายในไทยแล้ว ประเทศอื่น ๆ ก็เจออันตรายที่คล้ายกัน อย่างเช่นในประเทศฟินแลนด์ที่กำลังเจอภัยจากมัลแวร์ FluBot ที่ส่งต่อกันผ่าน SMS ไปยังผู้ใช้มือถือแอนดรอยด์</p>
    <br>
    <p>โดยศูนย์ความปลอดภัยทางไซเบอร์แห่งชาติของฟินแลนด์ (NCSC-FI) ได้ออกคำเตือนเกี่ยวกับการติดมัลแวร์ FluBot ที่เพิ่มขึ้นเนื่องจาก SMS และ MMS ที่กระจายไปยังผู้ใช้มือถือแอนดรอยด์ เพื่อทำการขโมยข้อมูลส่วนตัว ข้อมูลทางการเงินของเหยื่อ
      โดยวางหน้าฟิชชิ่งทับบนแอปพลิเคชั่นธนาคารและสกุลเงินดิจิทัล หากผู้ใช้พิมพ์ข้อมูล รหัสผ่านใด ๆ ก็จะถูกขโมยข้อมูลทันที</p>
    <br>
    <p>นอกจากนี้ มัลแวร์ FluBot ยังเข้าถึงข้อมูล Call Log การโทรออก รับสาย รับ-ส่งข้อมูล รวมถึงการแจ้งเตือน OTP เพื่อนำรหัสเหล่านั้นไปใช้ในทางมิชอบ ซึ่งทาง NCSC-FI เคยออกมาแจ้งเตือนเกี่ยวกับข้อความอันตรายที่ถูกส่งออกถึง 70,000 ข้อความภายในระยะเวลา 24
      ชั่วโมงมาแล้ว แต่การประกาศครั้งนี้ไม่ได้ระบุจำนวนข้อความที่สำรวจได้ แต่ระบุเพียงว่า "ข้อความที่เป็นอันตรายนับพันกำลังแพร่ระบาด" ไปยังผู้ที่อาจเป็นเหยื่อ</p>
    <br>
    <p>โดย SMS และ MMS ที่เสี่ยงว่าจะมีมัลแวร์ FluBot ซ่อนอยู่ ก็คือ มีลิงก์ไปยังข้อความเสียง การแจ้งเตือนต่าง ๆ เช่น สายที่ไม่ได้รับ, แจ้งเตือนเกี่ยวกับธุรกรรมการเงิน หากกดลิงก์
      จะเป็นการเข้าไปยังเว็บไซต์ที่หลอกหล่อให้ดาวน์โหลดและติดตั้งแอปพลิเคชันที่ขอให้อนุญาตเข้าถึงข้อมูลสำคัญต่าง ๆ นั่นเอง และทำการแพร่เชื้อ ส่ง SMS ต่อไปยังรายชื่อใน Contact ของเหยื่อรายแรก ๆ แต่ถ้าเหยื่อเป็นผู้ใช้ iPhone มัลแวร์ FluBot
      ก็จะเปลี่ยนเส้นทางไปสู่การสมัครรับข้อมูลแบบพรีเมียมแทน</p>
    <br>
    <p>ทาง NCSC-FI ยังชี้แจงว่า การกดลิงก์อย่างเดียวไม่ได้ติดตั้งมัลแวร์บนมือถือแต่อย่างใด แต่ถ้าเผลอกดติดตั้งมัลแวร์ FluBot เข้าแล้ว ให้ทำการรีเซ็ตมือถือเป็นค่าโรงงานทันที เปลี่ยนรหัสผ่านให้ปลอดภัยรัดกุม หมั่นสำรองข้อมูลในมือถือก่อนถูกมัลแวร์โจมตี
      ยกเลิกการสมัครรับข้อมูลใด ๆ และหลีกเลี่ยงการติดตั้งไฟล์แอปพลิเคชัน APK</p>
  </div>
</div>
{% endblock %}
