{% extends 'main/mainlanding.html' %}

{% block content %}

<style>
  .card {
    margin-top: 10%;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
    box-shadow: 0 30px 50px rgba(0, 0, 0, .2)
  }

  .card p {
    font-size: 1.3rem;
  }

  .card-img img {
    width: 100%;
    margin-bottom: 5%
  }

  @media screen and (max-width:992px) {
    .card {
      margin-top: 20%;
    }

  }

  @media screen and (max-width:769px) {
    .card {
      margin-top: 27% !important;
    }
  }

  @media screen and (max-width:520px) {
    .card {
      margin-top: 30% !important;
    }
  }

  @media screen and (max-width:480px) {
    .card {
      margin-top: 35% !important;
    }
  }
</style>

<div class="card">
  <div class="card-body">
    <div class="card-img">
      <img src="static/imglanding/0005/20466_22042718074069.jpg">
    </div>

    <div class="card-title">
      <h2>กลลวง "สแกมเมอร์" หลอกรีเซ็ต Apple ID ก่อนล้วงรหัส Metamask ใน iCloud ดูดเงินเกลี้ยง</h2>
    </div>
    <p>
      เป็นภัยร้ายจาก "สแกมเมอร์" ที่อยากเตือนผู้ใช้งาน Apple ที่ครอบครองสินทรัพย์ดิจิทัลทุกคน แม้ว่าข่าวนี้จะเกิดมาได้อาทิตย์กว่า ๆ แล้ว แต่คนที่ไม่รู้ก็อาจเป็นเหยื่อได้อีกเช่นกัน</p>
    <br>
    <p>เหตุเกิดจากมีผู้ใช้งาน Twitter รายหนึ่งชื่อ @Serpent ซึ่งเป็นเจ้าของและผู้ก่อตั้ง DAPE NFT ได้ออกมาแจ้งเตือนเกี่ยวกับ Hacker ที่หลอก เป็นคนจาก Apple และให้เหยื่อรีเซ็ตรหัสผ่าน Apple ID ก่อนทำการล้วงข้อมูลต่าง ๆ ที่เก็บไว้ใน iCloud
      ซึ่งรวมถึงตัว seed phrase ของ MetaMask โดยมีเหยื่อโดนหลอกเสียเงินไปแล้ว 650,000 ดอลลาร์สหรัฐ หรือราว 22,295,000 บาท</p>
    <br>
    <center><img src="static/imglanding/0005/20466_220427170841Ro_106.jpg" alt="" style="width:100%"></center>
    <br>
    <p>และผู้ใช้ Twitter รายนี้ก็ยังได้อธิบายต่อใน Comment ถึงพฤติการณ์ของแฮกเกอร์ที่เป็นนักต้มตุ๋นรายนี้ว่า หลังจากที่แฮกเกอร์ได้รู้ที่อยู่อีเมลที่เหยื่อใช้บน Apple ID แฮกเกอร์ก็จะพยายามแจ้งขอรีเซ็ตรหัสผ่านหลายครั้ง
      ทำให้ผู้ใช้ที่เป็นเหยื่อได้รับข้อความแจ้งเตือนการ "ขอรีเซ็ต" เป็นจำนวนมาก ทำให้เหยื่อเกิดความกังวลเกี่ยวกับความปลอดภัย</p>
    <br>
    <p>หลังจากนั้นแฮกเกอร์ ก็ได้ทำการติดต่อผู้ใช้โดยอ้างเป็น Apple และได้ติดต่อคุยกับเหยื่อทางโทรศัพท์ ก่อนจะแจ้งเหยื่อไปว่า มีการทำกิจกรรมที่น่าสงสัย ซึ่งก็คือการขอรีเซ็ตรหัสหลาย ๆ ครั้งนั่นเอง และทำการขอให้เหยื่อพิสูจน์ตัวตน ด้วยการบอกรหัส
      verification code เลข 6 หลักที่ได้มาจากข้อความ</p>
    <br>
    <p>นั่นเองจึงทำให้เหยื่อได้บอกรหัสแก่แฮกเกอร์ไป จนสามารถรีเซ็ตรหัสผ่าน Apple ID ได้และเริ่มเข้าถึงข้อมูลที่จัดเก็บใน iCloud ซึ่งรวมถึง seed phrase ในกระเป๋า MetaMask ของเหยื่อ</p>
    <br>
    <p>สุดท้ายแล้วเหยื่อก็ถูกแฮกเกอร์ขโมยบัญชี MetaMask และโอนเงินคริปโตออกไปจนหมด และเนื่องจากระบบของ Cryptocurrencies เป็นรูปแบบของ Decentralized มันแทบเป็นไปไม่ได้เลยที่จะตรวจสอบและเอากลับมา ทำให้เหยื่อถึงกับเงินหายไปพริบตาจำนวน 22,295,000 บาท</p>
    <br>
    <center>
      <img src="static/imglanding/0005/20466_22042717220790_106.jpg" alt="" style="width:100%">
    </center><br><br>
    <p>ทั้งนี้ข้อมูลจาก trendmicro ได้มีการบอกวิธีป้องกันเกี่ยวกับเรื่องนี้ให้กับผู้ใช Apple ด้วย โดยแบ่งเป็น 4 ข้อดังนี้</p>
    <ol style="font-size:1.3rem">
      <li>โปรดจำไว้ว่า Apple ไม่มีทางโทรหาลูกค้าแน่นอน</li>
      <li>อย่าแชร์ verification code ให้ใครรู้แม้ว่าจะมีคนแอบอ้างเป็นผู้ให้บริการหรือเจ้าพนักงาน</li>
      <li>ใช้ Hardware wallet หรือ Cold Wallet เพื่อเป็นการหลีกเลี่ยง สแกม แฮกเกอร์ หรือ ฟิชชิ่ง ที่ดีที่สุด</li>
      <li>ให้ปิดการใช้งาน iCloud backups โดยไปที่ Settings > Profile > iCloud > Manage Storage > Backups</li>
    </ol><br>

  </div>
</div>
{% endblock %}
